/*FONTS------------------------------------------------------------------*/
@font-face {
		font-family: Eight_bit_one;
		src: url(../fonts/8_bit_1/8bit16.ttf);
}

@font-face{
		font-family: Eight_bit_two;
		src:url(../fonts/8_bit_2/8_bit_party.ttf);
}

@font-face{
		font-family: Eight_bit_three;
		src:url(../fonts/8_bit_3/8-bit_pusab.ttf);
}

@font-face{
		font-family: Eight_bit_four;
		src:url(../fonts/pixel_operator/PixelOperator.ttf);
}

@font-face{
		font-family: Open_sans;
		src:url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
		font-family: Lato;
		src:url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face{
        font-family: Acadian;
        src:url(../fonts/acadian_runes/Acadian_Runes-Regular_PERSONAL_USE.ttf);
}

@font-face{
        font-family: Mountain;
        src:url(../fonts/mountain/Mountain.ttf);
}

@font-face{
        font-family: Dragon;
        src:url(../fonts/dragons/Dragons.ttf);
}

@font-face{
        font-family: Dragon_2;
        src:url(../fonts/hff_chinese_dragon/HFF_Chinese_Dragon.ttf);
}

@font-face{
        font-family: Greek;
        src:url(../fonts/greek_mythology/Greek_Mythology.ttf);
}







/*----------------------------------------------------------------------*/

/*BODY STYLE------------------------------------------------------------------*/
body {
    
    position: relative;
    padding-bottom: 3rem;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Add animation to "body" */
.animateBody{
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
 -webkit-animation: mymove 5s linear infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s linear infinite;
  font-family: Greek;
  font-size:100px;
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
 
}

@-webkit-keyframes mymove {
    from {left: 20%;}
    to {left: 90%;}
}

@keyframes mymove {
    from {left: 20%;}
    to {left: 90%;}
}

#contentContainer {
  display: none;
  text-align: center;
  height: 100%;
}
/*----------------------------------------------------------------------*/

/*HTML STYLE------------------------------------------------------------------*/
html {
  height: 100%;
  width:100%;
  box-sizing: border-box;
}
/*----------------------------------------------------------------------*/

/*NAVIGATION STYLE------------------------------------------------------------------*/
.navigation {

    width: 100%;
    position: fixed;
    top: 0px;
    transition: top 0.3s ease-in-out;
}

.navigation a {
    float:left;
    padding: 14px 16px;
    text-align: center;
    outline: none; 
    display: none;
    text-decoration: none;  
    font-family: Mountain;
    color:white;
}
	
.navUp {
    top: -52px;
}

.menuLeftSide ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    float: left;	
}

.active  {
    opacity: 0.6;	
    transition:none;
}


.menuLeftSide li {	
	float:left;
}

.menuLeftSide li a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;	
    font-family: Acadian;

}

.menuLeftSide a:hover:not(.active) {
    opacity: 0.6;  
    transition-delay: .2s;	
}

.menuRightSide {
    float: right;
}

.menuRightSide ul{
	list-style-type: none;
	text-decoration: none;
	margin: 0;
    padding: 0;
}

.menuRightSide li {	
	float: left;
}

.menuRightSide a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
 }

.menuRightSide a:hover {
     opacity: 0.7; 
     transition-delay: .2s;  
}
/*----------------------------------------------------------------------*/

/*NAVIGATION RESPONSIVE STYLE------------------------------------------------------------------*/
@media screen and (max-width:800px){

    .menuLeftSide {
	     position: absolute;
	     margin-left: 40px;
		 margin-top: 10px;
	}

    .menuLeftSide ul {
         display: none;
    }

    .menuRightSide a {
	     padding: 14px 12px;
	}

	
    .navigation a {
	     float: left;
	     display: block;
	     color: white;	
	}



    .menu_icon {
	     padding: 14px 12px; 
	     display: block;
	}
	
    .menuIcon:hover {
	     opacity: 0.7;  
	}

     .menuIcon {
         font-size: 25px; 
         font-weight:900;
    }

    #btnMenu.opacity{
          opacity: 0.7; 
	}		



    .menuLeftSide.responsive ul{
	     position: absolute;
	     margin-top: 40px;
	     z-index: 1;
	}	
}

/*----------------------------------------------------------------------*/


/*FOOTER STYLE------------------------------------------------------------------*/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #003B46;
  width: 100%;
}


.leftFooter {

	width:50%;
	float:left;
}

.leftFooter p {

	float:right;
}

.leftFooter a {
	text-decoration: none;	
    font-family: Open_sans;
    padding:14px 16px;
    outline:none;
    color:white;
}



.leftFooter a:hover{
	color: #FFE4E1;
}

.rightFooter {

	width:50%;
	float: right;
}

.rightFooter p {

	float: left;
}

.rightFooter a {
	text-decoration: none;	
    font-family: Open_sans;
    padding:14px 16px;
    outline:none;
    color: white;
    cursor: context-menu;
}



.leftResponsive {
	float:left;
}


.leftResponsive p{


}

.leftResponsive a {
	text-decoration: none;	
    font-family: Open_sans;
    padding:14px 16px;
    outline:none;
    color:white;
}

.leftResponsive a:hover{
	color: #FFE4E1;
}

.rightResponsive {


	float:right;
}

.rightResponsive p{


}

.rightResponsive a {
	text-decoration: none;	
    font-family: Open_sans;
    padding:14px 16px;
    outline:none;
    color:white;
    cursor: context-menu;
}


@media screen and (max-width:800px){

.leftResponsive, .rightResponsive {
	width:100%;
	text-align:center;
	border-bottom:1px solid white;
}



}

/*----------------------------------------------------------------------*/

main {
	height:100%;
	width:100%;
}

.intro {

 background-image: url("../images/intro_bg.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;

}


.asset_1 img {

    height:200px;
}


